<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="style/styles.css">

</head>
<body>
    <div class="registration-container">
        <h2>Registration in tour agency</h2>
        <form th:action="@{/login}" method="post">
            <label for="username">User name:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" required>
            <button type="submit" class="btn btn-success">Sign in</button>
        </form>
    </div>
</body>
</html>
