<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/styles.css"></link>

</head>
<body>
    <div class="registration-container">
        <h2>Registration in tour agency</h2>
        <form id="registration-form">
            <label for="full-name">Full name:</label>
            <input type="text" id="full-name" name="full-name" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="confirm-password">Confirm password:</label>
            <input type="password" id="confirm-password" name="confirm-password" required>

            <button type="submit">Sign in</button>
        </form>
    </div>
</body>
</html>
